logs
*.log
npm-debug.log*
node_modules
dist
dist-ssr
*.local
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
data/*.sqlite
data/*.sqlite-*
uploads/*
!uploads/.gitkeep
.env
agent-tools
data-tmp-monsters.json
